/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "projects";
@import "tickets";
@import "responsive";
header {
    @extend .page-header;
    position: relative;
    padding-bottom: 0px;

    &:first-child {
        margin-top: 20px;
    }
}

body {
    padding-top: 70px;
}

ul.actions {
    @extend .list-unstyled;
    @extend .list-inline;
}

a.new, a.edit, a.delete {
    @extend .btn;
    &:before {
        font-family: "FontAwesome";
        padding-right: 0.5em;
    }
}

a.new {
    @extend .btn-success;

    &:before {
        @extend .fa-plus;
    }
}

a.edit {
    @extend .btn-primary;

    &:before {
        @extend .fa-pencil;
    }
}

a.delete {
    @extend .btn-danger;

    &:before{
        @extend .fa-trash;
    }
}

.alert-notice {
    @extend .alert-success;
}

.alert-alert {
    @extend .alert-danger;
}

form {
    max-width: 500px;
}
